.about-company {
  position: relative;
}

.about-company__wrapper {
  height: 930px;
  background: url(/img/background2.png);
  background-repeat: no-repeat;
  background-position-x: 500px;
}

.about-company__text {
  margin-top: 100px;
  height: 290px;
  width: 538px;
}
