.how-it-works {
  text-align: center;
  position: relative;
  top: -63px;
  p {
    font-size: 18px;
    line-height: 27px;
    opacity: 0.44;
    color: #ffffff;
    font-weight: 300;
  }
  h1 {
    font-weight: 450;
    font-size: 50px;
    line-height: 64px;
    color: #ffffff;
  }
}

.how_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}

.line {
  position: relative;
}

.line1 {
  border: 2px solid #2f2c64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.line2 {
  border: 2px solid #8400e4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.21);
  position: absolute;
  width: 300px;
  top: 0;
}

.how-text {
  display: flex;
  justify-content: space-between;

  p {
    width: 174px;
    text-align: center;
    font-size: 15px;
    line-height: 177.5%;
    color: #5669A9;
    font-weight: 300;
  }
}
