.how-it-works {
  text-align: center;
  position: relative;
  top: -150px;
  p {
    font-size: 18px;
    line-height: 27px;
    opacity: 0.44;
    color: #ffffff;
    font-weight: 300;
  }
  h1 {
    font-weight: 450;
    font-size: 50px;
    line-height: 64px;
    color: #ffffff;
  }
}

.how_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0px 25px;
  text-align: center;
}

.line {
  position: relative;
}

// .line1 {
//   border: 2px solid #2f2c64;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }

.line2 {
  border: 2px solid #8400e4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  width: 900px;
  top: 6px;
  left: -890px;
}

.how-text {
  display: flex;
  // justify-content: space-between;
  // padding: 0 25px;
  padding-left: 25px;
  padding-top: 19px;
  p {
    width: 174px;
    text-align: center;
    font-size: 16px;
    line-height: 177.5%;
    color: #5669a9;
    font-weight: 300;
  }
  :first-child {
    padding-right: 164px;
  }
  :nth-child(2) {
    width: 215px;
    padding-right: 121px;
  }
  :nth-child(3) {
    width: 189px;
    padding-right: 105px;
  }
}

.linediv {
  border: 2px solid #2f2c64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.advantages {
  position: relative;
}

.advantages div {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 177.5%;
  padding-bottom: 12px;
}

.affilate__title {
  p {
    color: #ffffff;
    opacity: 0.44;
    font-weight: 300;
    font-size: 18px;
    line-height: 27p;
  }
  h1 {
    font-weight: 450;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.line_all {
  border: 2px solid #2f2c64;
  position: absolute;
  top: 203px;
  width: 100%
}

.line_all-2 {
  border: 2px solid #2f2c64;
  position: absolute;
  top: 220px;
  width: 100%;
  display: none;
}

.line_all-3 {    
    border: 2px solid #2f2c64;
    position: absolute;
    top: 220px;
    width: 100%;
    display: none;
}

.line_all-4 {
  border: 2px solid #2f2c64;
  position: absolute;
  top: 220px;
  width: 100%;
  display: none;
}

.line_chose {
  position: absolute;
  border: 2px solid #8400e4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.21);
  top: 190px;
  // width: 25%;
  left: 1px;
}

.how-information {
  position: relative;
  bottom: 90px;
}

.circle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: aliceblue;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 2;
  background: #19153f;
  border: 2px solid #2f2c64;
  box-sizing: border-box;
}

.circle3 {
  left: 53px;
}

.circle4 {
  left: 62px;
}

.circle_choose {
  background: #8400e4;
  img {
    margin-left: 2px;
    margin-bottom: 9px;
    width: 14px;
  }
}



// .............................................................................................................
// .............................................................................................................

.how-info {  
  position: relative;

  &__all {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 290px;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    padding-top: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 177.5%;
    text-align: center;
    color: #ffffff;
  }

  &__circle {
    width: 18px;
    height: 18px;
    background: aliceblue;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 2;
    background: #19153f;
    border: 2px solid #2f2c64;
    box-sizing: border-box;
    position: relative;
  }

  &__text {
    position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 177.5%;
  text-align: center;
  color: #5669A9;
  }
}

.how_1 {
  width: 179px;
}

.how_2 {
  width: 215px;
}
.how_3 {
  width: 189px;
}
.how_4 {
  width: 160px;
}

