@media (max-width: 1900px) {
    .container-backround {
        background-position: right;
    }
}
@media (max-width: 1220px) {
  .header {
    width: 95% !important;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-button_wrapper {
    margin-top: 50px;
  }
  .main__block {
    opacity: 0.9;
  }
  .container_main {
    justify-content: center;
  }
  .container {
    max-width: 1170px;
  }

  .main_title h1 {
    font-size: 35px;
  }

  .how-info__all {
      padding: 0 25px;
  }
  .statics-title_wrapper {
    padding-left: 25px;
  }

  .static-cripto {
    padding-right: 25px;
  }
  .team-deposite {
    padding-left: 25px;
    padding-right: 25px;
  }
  .footer_wrapper, .team {
    padding: 0 25px 0 25px;
  }

  .container-backround {
    opacity: 0.2;
  }

}

@media (max-width:1095px){
  .statics {
    justify-content: center;
  }
  // .static-cripto {
  //   margin-top: 50px;
  // }
  .statics-title_wrapper {
    margin: 0 25px;
    padding-left: 0;
  }
  .static-cripto {
    margin: 50px 25px 0 25px;
  }
}

@media (max-width:1125px){
  .minimal {
    margin-left: 20px;
    margin-right: 20px;
  }
  .turbo4 {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .turbo3 {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 960px) {
  .panel {
    transform: rotate(90deg);
    left: 172px;
    top: -120px !important;
  }
}

@media (max-width: 899px) {
 .header-menu {
    margin-top: 28px;
  }
  .container-backround {
    background-position: center;
  }
  .premium_wrapper {
    justify-content: space-around;
  }
  .affilate__title {
    padding: 0 25px;
  }
  .turbo4 {
    margin-top: 35px !important;
  }
  .turbo3 {
    margin-top: 97px !important;
  }
}

@media (max-width: 820px) {
  .main__block {
    margin: 0 25px;
    max-width: 797px;
    padding: 0 50px;
  }
  .container_main_block {
    // max-width: 628px
    width: 100%;
  }
  .benefits_wrapper {
    flex-wrap: wrap;
  }
  .make {
    width: 100%;
  }
  .profit {
    flex-wrap: wrap;
  }
  .all_crypto {
    flex-wrap: wrap;
  }
}

@media (max-width:792px){
    .how-info__wrapper {
        padding-top: 20px;
        padding-right: 15px;
    }
    .line_all {
        top: 224px;
    }
    .line_all-2 {
        display: block;
        top: 534px;
    }
   .how-info__all {
     justify-content: center;
   }
   .about-company {
    background: none;
   }
}

@media (max-width: 750px) {
    .about-company__wrapper {
        margin-left: 0;
    }
    .about-company {
        display: flex;
        justify-content: center;
        padding: 0 10px;
        margin-top: 50px !important;
    }
}

@media (max-width: 675px) {
  .header-menu {
    margin-left: 0px !important;
  }
  .menu_last {
    padding-right: 0px !important;
  }
  .all_crypto-coin {
    flex-wrap: wrap;
    justify-content: center;
  }  
  .how-info__all {
      justify-content: space-around;
  }
  .turbo2div {
    margin-right: 25px;
  }
  .footer_wrapper {
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    div {
      margin: 20px 0 0px 0px;
    }    
  }
  .team {
    padding: 0;
  }
  .footer_text {
    text-align: center;
  }
  .social {
    justify-content: space-around;
   
  }
}

@media (max-width: 654px) {
  .benefit_2 {
    margin-top: 25px;
  }
}

@media (max-width: 555px) {
  .main_title {
    padding: 0 20px;
  }
  .header-menu__link {
    padding-right: 0;
  }
  .header-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .menu_hover {
    top: 25px;
  }
  .header-menu {
    display: flex;
    align-items: center;
    a {
      font-size: 30px !important;
      height: 45px;
      padding-right: 0;
    }
  }
  .header__logo {
    width: 100%;
    text-align: center;
  }

  .menu__choose {
    left: 140px !important;
  }
  .menu_hover {
    height: 5px !important;
    top: 30px;
    width: 100px !important;
    left: 32px !important;
  }

  .menu__link_2:hover ~ .menu_hover {
    top: 126px;
    width: 67px !important;
    top: 77px;
    left: 50px !important;
    transition: left 0.5s ease 0s;
  }

  .menu__link_3:hover ~ .menu_hover {
    width: 145px !important;
    left: 12px !important;
    top: 117px;
  }

  .menu_last:hover ~ .menu_hover {
    width: 174px !important;
    left: -3px !important;
    top: 165px;
  }

  .sign-in {
    margin-right: 10px !important;
    margin-bottom: 15px;
  }

  .header-button_wrapper {
    display: flex;
    width: 100%;
    margin: 30px 25px 0px 25px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .statics_total  {
    margin-top: 25px;
  }
  .totalup {
    margin-bottom: 0;
  }
  .statics_total {
    margin-right: 0;
  }
  .static__block {
    justify-content: center;
  }
}

@media (max-width:520px){
  .affilate__title h1 {
    font-size: 45px;
    text-align: center;
  }
}

@media (max-width:506px){
  .last-withdrawal, .last-deposit {
    padding: 12px 55px;    
  }
  .line_crypto {
    left: 180px
  }
  .wrapper2 {
    padding-left: 60px !important; 
  }
  .main__block {
    height: 800px;
  }
}

@media (max-width:460px){
  .line_crypto {
    left: 165px;
  }
}

@media (max-width: 462px) {
    .main__block {
        z-index: 1;
        height: 800px;
    }
    .about-company {
        margin-top: 20px !important; 
    }
    .how_3 {
        width: 250px;
    }
    .line_all-3  {
      display: block;
      top: 844px;   
    }
    .line_all-4  {
      display: block;
      top: 1153px;  
    }
    .premium_wrapper {
      justify-content: center;
    }
    .minimal, .turbo2div, .turbo3, .turbo4 {
      margin-left: 0;
      margin-right: 0;
    }
    .static-cripto__block,.emblem {
      max-height: 150px;
      max-width: 462px;
    }
    .static-cripto_wrapper {
      justify-content: center;
      
    }
    .static-cripto_info2 {
      padding-top: 10px;
    }
    .static-cripto {
      margin: 0;
      padding-right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .statics_total {
      width: 100vw;
    }
}

@media (max-width:400px){
  .static-cripto__block,.emblem {
    min-height: 180px;
  }
  .static-cripto__block {
    width: 100vw;
  }
  .static-cripto__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
 .wrapper2 {
    padding-left: 0px !important; 
  }
}


@media (max-width: 382px) {
    .header-button_wrapper {
        justify-content: center;
    }
    .main_title h1 {
        font-size: 30px;
    }
    .main__block {
        padding: 0 30px;
        margin: 0;
    }
    .profit {
        justify-content: space-between;
    }
    .profit-wrapper {
        padding-right: 10px;
    }
    .panel {
      left: 150px;
    }    
}

@media (max-width: 347px) {
    .profit {
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media (max-width:345px){
  .panel {
    left: 115px;
  }
}