@media (max-width:1900px){
    
}
@media (max-width:1220px){
    .header {
        width: 95% !important;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-button_wrapper {
        margin-top: 50px;
    }
}